#Name: Hemant Manoj Purswani
#Roll No.: R043
#Batch: B2

#Lab 1 Task 2

In [3]:
import numpy as np
import pandas as pd

#importing libraries

In [4]:
df=pd.read_csv("indian_food.csv")

#reading a csv file

In [5]:
df.shape

#No. of Total Dishes
#No.of Dishes

(255, 9)

In [6]:
df.size

#size of the table

2295

In [16]:
df.info()

#gives us the information about like what are, and the data type of the attributes present

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            255 non-null    object
 1   ingredients     255 non-null    object
 2   diet            255 non-null    object
 3   prep_time       255 non-null    int64
 4   cook_time       255 non-null    int64
 5   flavor_profile  226 non-null    object
 6   course          255 non-null    object
 7   state           231 non-null    object
 8   region          241 non-null    object
 9   Total Time      255 non-null    int64
 10  No.of Ing       255 non-null    int64
dtypes: int64(4), object(7)
memory usage: 22.0+ KB

In [8]:
df.head(5)

#gives the information of the first 5 rows

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East

In [9]:
df.describe()

#High std mean chances of outlier
#when value not given then -1 is given

        prep_time   cook_time
count  255.000000  255.000000
mean    31.105882   34.529412
std     72.554409   48.265650
min     -1.000000   -1.000000
25%     10.000000   20.000000
50%     10.000000   30.000000
75%     20.000000   40.000000
max    500.000000  720.000000

In [18]:
df.isnull()

#checks if there are any null values in the table

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region,Total Time,No.of Ing
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
250,False,False,False,False,False,False,False,False,False,False,False
251,False,False,False,False,False,False,False,False,False,False,False
252,False,False,False,False,False,False,False,False,False,False,False
253,False,False,False,False,False,False,False,False,False,False,False
254,False,False,False,False,False,False,False,False,False,False,False

In [25]:
df=df.replace(range(-2,0),'NaN')
print(df)

#Replacing then negative values with NaN

               name                                        ingredients  \
0        Balu shahi                    Maida flour, yogurt, oil, sugar
1            Boondi                            Gram flour, ghee, sugar
2    Gajar ka halwa       Carrots, milk, sugar, ghee, cashews, raisins
3            Ghevar  Flour, ghee, kewra, milk, clarified butter, su...
4       Gulab jamun  Milk powder, plain flour, baking powder, ghee,...
..              ...                                                ...
250       Til Pitha            Glutinous rice, black sesame seeds, gur
251         Bebinca  Coconut milk, egg yolks, clarified butter, all...
252          Shufta  Cottage cheese, dry dates, dried rose petals, ...
253       Mawa Bati  Milk powder, dry fruits, arrowroot powder, all...
254          Pinaca  Brown rice, fennel seeds, grated coconut, blac...

           diet prep_time cook_time flavor_profile   course            state  \
0    vegetarian        45        25          sweet  dessert      West Bengal
1    vegetarian        80        30          sweet  dessert        Rajasthan
2    vegetarian        15        60          sweet  dessert           Punjab
3    vegetarian        15        30          sweet  dessert        Rajasthan
4    vegetarian        15        40          sweet  dessert      West Bengal
..          ...       ...       ...            ...      ...              ...
250  vegetarian         5        30          sweet  dessert            Assam
251  vegetarian        20        60          sweet  dessert              Goa
252  vegetarian       NaN       NaN          sweet  dessert  Jammu & Kashmir
253  vegetarian        20        45          sweet  dessert   Madhya Pradesh
254  vegetarian       NaN       NaN          sweet  dessert              Goa

         region Total Time No.of Ing
0          East         70         4
1          West        110         3
2         North         75         6
3          West         45        10
4          East         55         8
..          ...        ...       ...
250  North East         35         3
251        West         80         4
252       North        NaN         5
253     Central         65         4
254        West        NaN         5

[255 rows x 11 columns]

In [12]:
a=list(df.select_dtypes(include=[np.number]).columns.values)
print(a)

#prints all the features which is numerical in nature

['prep_time', 'cook_time']

In [13]:
df.nunique()

#prints the numbers of unique elements in a table column-wise

name              255
ingredients       252
diet                2
prep_time          22
cook_time          19
flavor_profile      4
course              4
state              24
region              6
dtype: int64

In [14]:
a=df["prep_time"]+df["cook_time"]
df["Total Time"]=a
df.head(255)

#creating a new column Total Time = prep time + cook time

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region,Total Time
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East,70
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West,110
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North,75
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West,45
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East,55
...,...,...,...,...,...,...,...,...,...,...
250,Til Pitha,"Glutinous rice, black sesame seeds, gur",vegetarian,5,30,sweet,dessert,Assam,North East,35
251,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,Goa,West,80
252,Shufta,"Cottage cheese, dry dates, dried rose petals, ...",vegetarian,-1,-1,sweet,dessert,Jammu & Kashmir,North,-2
253,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,Madhya Pradesh,Central,65
254,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,Goa,West,-2

In [15]:
#Creating funtion to calculate the number of Ingredients in a dish

def count_ingredients(x):
  y=x.split(",")
  return len(y)

df["No.of Ing"]=df.ingredients.apply(lambda x:count_ingredients(x))
df.head(10)

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region,Total Time,No.of Ing
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East,70,4
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West,110,3
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North,75,6
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West,45,10
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East,55,8
5,Imarti,"Sugar syrup, lentil flour",vegetarian,10,50,sweet,dessert,West Bengal,East,60,2
6,Jalebi,"Maida, corn flour, baking soda, vinegar, curd,...",vegetarian,10,50,sweet,dessert,Uttar Pradesh,North,60,9
7,Kaju katli,"Cashews, ghee, cardamom, sugar",vegetarian,10,20,sweet,dessert,NaN,NaN,30,4
8,Kalakand,"Milk, cottage cheese, sugar",vegetarian,20,30,sweet,dessert,West Bengal,East,50,3
9,Kheer,"Milk, rice, sugar, dried fruits",vegetarian,10,40,sweet,dessert,NaN,NaN,50,4